<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Super O'Detectiv</title>
</head>

<body>

    <header class="header">
        <div class="header__logo">O'Detectiv</div>
        <nav class="header__nav">
            <ul>
                <li><a class="button button--menu" href="/">Accueil</a></li>
                <li><a class="button button--menu" href="/affaires">Affaires</a></li>
                <li><a class="button button--menu" href="/contact">Contact</a></li>
            </ul>
        </nav>
    </header>
