<%- include('partials/header') %>

<p class="p__404">Soit vous avez fait n'importe quoi avec l'URL, soit vous avez tout cassé.</p>

<p class="p__404">Dans tous les cas, c'est pas ma faute !</p>

<img class="gif_404" src="/ressources/your_fault.gif">

<%- include('partials/footer') %>