<%- include('partials/header') %>

    <h1>Liste des affaires</h1>
 
    <ul class="cards">
        <li><a href="/notime">Le Mystère du Mug Jaune</a></li>
        <li><a href="/notime">Le Tueur au Pet, à la Hache et encore au Pet</a></li>
        <li><a href="/notime">Petits meurtres climatiques entre ordinateurs floraux</a></li>
        <li><a href="/photoshoppeur">Le Photoshoppeur Fou</a></li>
        <li><a href="/notime">Les Dents de la Soundboard</a></li>

    </ul>




<%- include('partials/footer') %>