<%- include('partials/header') %>

    <h1 class="case__h1">Liste des affaires</h1>
 
    <ul class="cards">
        <li class="case__li"><a href="/notime">Le Mystère du Mug Jaune</a></li>
        <li class="case__li"><a href="/php">Le Massacre Paie aux Haches en Paix</a></li>
        <li class="case__li"><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Petits meurtres climatiques entre ordinateurs floraux</a></li>
        <li class="case__li"><a href="/photoshoppeur">Le Photoshoppeur Fou</a></li>
        <li class="case__li"><a href="https://github.com/Clementkieken/Soundboard_Tony" target="_blank">Les Dents de la Soundboard</a></li>

    </ul>




<%- include('partials/footer') %>