<%- include('partials/header') %>

    <h1>Contactez-moi pour résoudre vos énigmes les plus complexes mais pas trop quand même svp.</h1>
    <ul class="contact">
        <li>Adresse MSN : benny_du_59@hotmail.com</li>
        <li><a href="https://myspace.com/benassi">Mon Myspace</a></li>
        <li><a href="https://benny.skyrock.com/">Mon Skyblog</a></li>

    </ul>

<%- include('partials/footer') %>