<%- include('partials/header') %>

    <h1 class="affaires__h1">Contactez-moi pour résoudre vos énigmes les plus complexes mais pas trop quand même svp.</h1>
    <ul class="contact__ul">
        <li class="contact__li">Adresse MSN : benny_du_59@hotmail.com</li>
        <li class="contact__li"><a class="a_contact" href="https://myspace.com/benassi" target="_blank">Mon Myspace</a></li>
        <li class="contact__li"><a class="a_contact" href="https://benny.skyrock.com/" target="_blank">Mon Skyblog</a></li>

    </ul>

<%- include('partials/footer') %>