<%- include('partials/header') %>

    <h1>Vous recherchez un super détective pour vos affaires chelous ?</h1>
    <h2>Vous devez être sacrément dans la mouise pour venir ici.</h2>

<%- include('partials/footer') %>