<%- include('partials/header') %>

    <h1 class="home__h1">Vous recherchez un super détective pour vos affaires chelous ?</h1>
    <h2 class="home__h2">Vous devez être sacrément dans la mouise pour venir ici.</h2>

    <img class="home__img" src="/ressources/detectiv.jpg">

<%- include('partials/footer') %>