<%- include('partials/header') %>

    <h1 class="affaires__h1">Le Mystère du Mug Jaune</h1>

    <p class="notime__p">Faut pas déconner, je galère déjà à coder <span class="underline">UNE</span> affaire.</p>

    <img class="busy_gif" src="/ressources/busy_cat.gif">

<%- include('partials/footer') %>