<%- include('partials/header') %>

<h1 class="php__h1">Le Massacre Paie aux Haches en Paix</h1>
<h3 class="php__h3">Vous l'avez ?</h3>
<h2 class="php__h2"> Est-ce le Tueur ? Nous ne le saurons jamais.</h2>

<img class="php__img" src="/ressources/guillaume_oclock.jpg">



<%- include('partials/footer') %>