<%- include('partials/header') %>

<div class="all_affaires">

<a href="/notime"><img class="mug_case" src="/ressources/mug_red_hand.jpg" alt="mug red handed"></a>

<a href="/php"><img class="massacre_case" src="/ressources/massacre_php.jpg" alt="massacre php"></a>
<a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><img class="climatic_case" src="/ressources/pc_climatic (1).jpg" alt="pc_in_fire"></a>
<a href="/photoshoppeur"><img class="photoshop_case" src="/ressources/photoshoppeur_fou.jpg" alt="mad men"></a>
<a href="https://github.com/Clementkieken/Soundboard_Tony" target="_blank"><img class="jaws_case" src="/ressources/jaws (1).jpg" alt="jaws soundboard"></a>


</div>






<%- include('partials/footer') %>